@page

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
    
@model IndexModel
@{
    ViewData["Title"] = "DevIn";
}

<div class="text-center">
@if (SignInManager.IsSignedIn(User))
{
    <div>
        <textarea id="tweet"></textarea>
        <button id="ok">Twitar</button>
    </div>

    <script>
    const submit = document.querySelector("#ok")
    const conteudoSalvo = document.querySelector("#tweet")

      submit.onclick = ()=>{
          const inputs = {
              "email": "@User.Identity?.Name",
              "mensagem": conteudoSalvo.value,
          }
          
          fetch("http://localhost:5266/api/Tweet",
          {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify(inputs),
          }).then(()=>{
              //atualizaFront()
          })
      }
    </script>
}


<hr>
</div>