@page

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
    
@model IndexModel
@{
    ViewData["Title"] = "DevIn";
}

<div class="text-center">
@if (SignInManager.IsSignedIn(User))
{
    <div>
        <textarea id="twit"></textarea>
        <button id="ok">Twitar</button>
    </div>
}
<hr>
</div>
<script>
    const ok = document.body.querySelector("#ok")
    const twit = document.body.querySelector("#twit")

    ok.onclick = ()=>{
        const conteudo = twit.value;
        fetch("http://localhost:5275",{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                 userId: "@User.Identity?.Name",
                 conteudo: twit
            }), 
        }).catch((err)=> console.log(err))
    }
</script>